{% extends "global/base.html" %}

{% block content %}
<div class="mt-3">
    {% include "global/parciais/messages.html" %}
</div>
<div class="container">
    <h2>Minhas Atividades</h2>
    <hr>

    {% if atividades %}
        <div class="accordion" id="atividadesAccordion">
            {% for atividade in atividades %}
                <div class="card">
                    <div class="card-header" id="heading{{ atividade.id }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ atividade.id }}" aria-expanded="true" aria-controls="collapse{{ atividade.id }}">
                                {{ atividade.nome }}
                            </button>
                        </h5>
                    </div>

                    <div id="collapse{{ atividade.id }}" class="collapse" aria-labelledby="heading{{ atividade.id }}" data-parent="#atividadesAccordion">
                        <div class="card-body">
                            <h5>Tipos de Ensino</h5>
                            {% for tipo_ensino in atividade.tipos_ensino.all %}
                                <div class="mb-3">
                                    <strong>Tipo de Ensino:</strong> {{ tipo_ensino.nome }}
                                    
                                    <!-- Dados de Graduação -->
                                    {% if tipo_ensino.graduacao_opcoes.all %}
                                        <h6>Graduação</h6>
                                        <ul>
                                            {% for graduacao in tipo_ensino.graduacao_opcoes.all %}
                                                <li>Aula: {{ graduacao.aula }}</li>
                                                <li>Orientação: {{ graduacao.orientacao }}</li>
                                                <li>Monitoria: {{ graduacao.monitoria }}</li>
                                                <li>Carga Horária Mínima: {{ graduacao.carga_horaria_min }}</li>
                                                <li>Carga Horária Máxima: {{ graduacao.carga_horaria_max }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    <!-- Dados de Pós-Graduação -->
                                    {% if tipo_ensino.pos_graduacao_opcoes.all %}
                                        <h6>Pós-Graduação</h6>
                                        <ul>
                                            {% for pos_graduacao in tipo_ensino.pos_graduacao_opcoes.all %}
                                                <li>Atividade de Mestrado: {{ pos_graduacao.atividade_mestrado }}</li>
                                                <li>Aula de Mestrado: {{ pos_graduacao.aula_mestrado }}</li>
                                                <li>Carga Horária Mínima: {{ pos_graduacao.carga_horaria_min }}</li>
                                                <li>Carga Horária Máxima: {{ pos_graduacao.carga_horaria_max }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    <!-- Dados de Pesquisa -->
                                    {% if tipo_ensino.pesquisa_opcoes.all %}
                                        <h6>Pesquisa</h6>
                                        <ul>
                                            {% for pesquisa in tipo_ensino.pesquisa_opcoes.all %}
                                                <li>Curso de Pesquisa: {{ pesquisa.curso_pesquisa }}</li>
                                                <li>Eventos de Pesquisa: {{ pesquisa.eventos_pesquisa }}</li>
                                                <li>Orientação: {{ pesquisa.orientacao }}</li>
                                                <li>Carga Horária Mínima: {{ pesquisa.carga_horaria_min }}</li>
                                                <li>Carga Horária Máxima: {{ pesquisa.carga_horaria_max }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Você ainda não possui atividades registradas.</p>
    {% endif %}
</div>
{% endblock %}
